md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

button.recogniaDefaultButton {
  margin-top: 20;
  margin-bottom: 20px;
  margin-left: 0;
  min-width: 1%;
  min-height: 1%;
  line-height: 20px;
  background: transparent;
}

button.recogniaDefaultButton:hover::after{
  background-color: transparent
}

button.RecogniaButton{
    min-width: 1%;
     min-height: 1%;
    line-height: 20px;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #888;
    background-color: #888;
    color: #D4D4D4;
    padding: 3px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: capitalize !important;
}

button.RecogniaButton:hover::after{
  background-color: transparent
}

button.RecogniaTDButton{
    min-width: 1%;
    min-height: 1%;
    border-radius: 8px;
    background-color: #f9f9fa;
    background-image: linear-gradient(#fff,#f3f3f4);
    border: 1px solid #f0f0f2;
    box-shadow: 1px 1px 0 1px #d9d9d9;
    color: #545454;
    padding: 2px 15px;
    font-size: 11px;
    text-transform: capitalize !important;
    margin-right: 20px;
}

button.RecogniaTDButton:hover::after{
  background-color: transparent
}


button.recogniaNewTLButton {
    margin-bottom: 20px;
    margin-left: 0;
    min-width: 18%;
    min-height: 1%;
    background: #13CA60;
    height: 35px;
    color: #fff;
    border-radius: 5px;
}

button.recogniaNewTLButton:not([disabled]):hover {
  background-color: black;
}
/*md-checkbox .recogniaBlack .md-checkbox-inner-container:after{
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
}*/

md-checkbox.recogniaBlack label div.md-checkbox-inner-container{
    height: 15px;
    width: 15px;
  }

md-checkbox.recogniaBlack label .md-checkbox-inner-container .md-checkbox-frame{
     border-radius: 5px;
    border: 1px solid #757575; 
    background: #DDDDDD;
 }

md-checkbox.recogniaBlack.md-checkbox-checked label .md-checkbox-inner-container .md-checkbox-background{
    background-color:#DDDDDD;
    border-radius: 5px;
    border: 1px solid #757575; 
}

md-checkbox.recogniaBlack.md-checkbox-checked label .md-checkbox-inner-container .md-checkbox-background .md-checkbox-checkmark-path{
    stroke: black !important;
    animation :none；
}

md-checkbox.newTL.md-checkbox-checked label .md-checkbox-inner-container .md-checkbox-background{
       background-color:black;
}

/*md-input.recogniaInput div.md-errors-spacer{
 min-height: 0px !important;
}*/

/*md-input.black input{
     border-width: 1px 1px 1px 1px;
     height: 25px; 
     background-color: #272727;
     color: white;
}

md-input.td input{
     border-width: 1px 1px 1px 1px;
     height: 40px; 
     border-radius: 10px;
}

md-input.search input{
     border-width: 1px 1px 1px 1px;
     height: 40px; 
     border-radius: 5px;
     width: 600px;
     padding-left: 15px;
}

.searchIcon{
        margin-left: -40px;
}*/

/*md-input.search label{
    transform: translate3d(0, 33px, 0) scale(1);
    padding-left: 15px
}*/


